header{background-image: url(images/HomePage/Background.png);}

header{background-image: url(images/HomePage/Button-AliPay.png);}

header{background-image: url(images/HomePage/Button-Transfers.png);}

header{background-image: url(images/HomePage/Button-RedBlue.png);}

header{background-image: url(images/HomePage/Button-Platforms.png);}

header{background-image: url(images/HomePage/Button-Pay.png);}

header{background-image: url(images/HomePage/Button-Money.png);}

header{background-image: url(images/HomePage/Button-Wechat.png);}

header{background-image: url(images/HomePage/Button-HSBC.png);}

header{background-image: url(images/HomePage/Button-CitiBank.png);}

header{background-image: url(images/HomePage/Button-DNA.png);}

header{background-image: url(images/HomePage/Tip1.jpg);}

header{background-image: url(images/HomePage/Tip2.jpg);}

header{background-image: url(images/HomePage/Tip3.jpg);}

header{background-image: url(images/HomePage/Tip4.jpg);}